<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Обо мне</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css" />
    </head>

    <body class="page">
        <div class="wrapper">
            {{>header}}
            <p>Сайт использует данные с mapbox.com и darksky.net</p>
            <section class="about">
                <img src="/img/igor.jpeg" alt="Фото Игоря" class="about__image">
            </section>
        </div>
        {{>footer}}
    </body>
</html>
