<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Помощь</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/style.css" />
    </head>

    <body class="page">
        <div class="wrapper">
            {{>header}}
            <p class="title">{{message}}</p>
        </div>
        {{>footer}}
    </body>
</html>
