<header class="header">
    <h1 class="title">{{title}}</h1>

    <a href="/" class="header__link">Погода</a>
    <a href="/about" class="header__link">Обо мне</a>
    <a href="/help" class="header__link">Помощь</a>
</header>